<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>The Fit Chase</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- CSS File -->
    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/custom.css" rel="stylesheet" />
    <link href="./css/responsive.css" rel="stylesheet" />
    <link href="./css/custom_phone.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <!-- ======= Header ======= -->
      <header id="" class="header fixed-top" data-scrollto-offset="0">
        <!--navbar logo start-->
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
          <div class="container">
            <a class="navbar-brand" href="index.html"
              ><img src="./images/logo.png" alt="TFC" class="navbar-brand" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li>
                  <a class="nav-link text-white scrollto" href="team.html"
                    >The Team</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link text-white scrollto"
                    href="success-stories.html"
                    >Susscess Stories</a
                  >
                </li>
                <li>
                  <a class="nav-link text-white scrollto" href="plans.html"
                    >Plans &amp; Pricing</a
                  >
                </li>
                <li>
                  <a class="nav-link text-white scrollto" href="explore.html"
                    >Explore</a
                  >
                </li>
                <li>
                  <a class="nav-link text-white scrollto" href="request.html"
                    >Request a Callback</a
                  >
                </li>
                <li>
                  <a class="nav-link scrollto" href="javascript:;"
                    ><svg
                      width="20"
                      height="20"
                      viewBox="0 0 13 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.4102 13.0878L11.8386 4.60081C11.8102 4.37241 11.6387 4.20065 11.4101 4.20065H9.41016V3.2007C9.41016 1.42889 8.0672 0 6.41016 0C4.75312 0 3.41016 1.42859 3.41016 3.2007V4.20065H1.41026C1.18158 4.20065 1.01016 4.37241 0.981687 4.60081L0.410156 13.0878V13.1163C0.410156 14.4879 1.4675 15.5455 2.83863 15.5455H9.98138C11.3528 15.5455 12.4099 14.4879 12.4099 13.1163V13.0878H12.4102ZM4.2673 3.2007C4.2673 1.91478 5.23863 0.857581 6.41016 0.857581C7.61016 0.857581 8.55301 1.88631 8.55301 3.2007V4.20095H4.2673V3.2007ZM9.98169 14.6882H2.83893C1.95332 14.6882 1.26761 14.0024 1.26761 13.1166L1.81036 5.05823H11.0106L11.553 13.1166C11.553 14.0024 10.8673 14.6882 9.98169 14.6882Z"
                        fill="#F5F5F7"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--navbar logo end-->
      </header>
      <!-- ======= Header End ======= -->
     
      <!-- ======= Body Conter Start ======= -->
      <section class="bg-grey">
        <div class="container">
          <div class="row padtop-140 padbot-140">
            <div class="d-flex justify-content-center">
                <div class="bg-white border-rounded-7 dark-grey-text p-35 login-box">
                    <div class="heading text-start ">
                        Sign in
                    </div>
                    <form>
                        <div class="marginbot-15">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="marginbot-35">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn marginbot-15">Sign In</button>
                      </form>
                      <div class="forget-pass">
                          <p class="blue-text"><a href="javascript:;">Forgot Password?</a></p>
                          <p class="sign-up-text">Don’t have an account? <a href="javascript:;"><span class="blue-text">Sign up</span></a></p>
                      </div>
                </div>
                
            </div>
            <div class="f-book-google">or connect with <a href="javascript:;">Facebook</a> or <a href="javascript:;">Google</a></div>
          </div>
        </div>
      </section>
      <!-- ======= Body Conter End ======= -->
      <!--footer Start-->
      <footer>
        <div class="container pb-5 patdtop64">
            <div class=" d-md-flex justify-content-md-evenly justify-content-lg-between ">
                <div class="footer-block mb-3">
                    <h5 class="font-22 pad-bot-18 mb-0">Contact us</h5>
                    <ul>
                        <li><a href="tel:+99999 75573">+91 99999 75573</a> </li>
                        <li><a href="mailto:shrey@thefitchase.com">shrey@thefitchase.com</a></li>
                        <li><a href="javascript:;">Request a callback </a></li>
                    </ul>
                </div>
                <div class="footer-block mb-3">
                    <h5 class="font-22 pad-bot-18 mb-0">Company</h5>
                    <ul>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="team.html" class="active">The Team</a></li>
                        <li><a href="success-stories.html">Success Stories</a></li>
                    </ul>
                </div>
                <div class="footer-block mb-3">
                    <h5 class="font-22 pad-bot-18 mb-0">Plans & Pricing</h5>
                    <ul>
                        <li><a href="kickstarter.html">Kick-starter</a></li>
                        <li><a href="coaching.html">Coaching</a></li>
                        <li><a href="faq.html">FAQ’s</a></li>
                    </ul>
                </div>
                <div class="footer-block mb-3">
                    <h5 class="font-22 pad-bot-18 mb-0">Explore</h5>
                    <ul>
                        <li><a href="javascript:;">Fitness Recipies</a></li>
                        <li><a href="javascript:;">Exercise Videos</a></li>
                        <li><a href="javascript:;">Knowledge Library</a></li>
                    </ul>
                </div>
                <div class="footer-block mb-3">
                    <h5 class="font-22 pad-bot-18 mb-0">Legal</h5>
                    <ul>
                        <li><a href="javascript:;">Privacy Policy</a></li>
                        <li><a href="javascript:;">Terms & Conditions</a></li>
                        <li><a href="javascript:;">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="row pad-top-65 w-100">
                <div class="col-sm-12 col-lg-6 s-media text-sm-center text-lg-start mb-3">
                    <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:;" class="px-4"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-sm-12 col-lg-6 text-sm-center text-lg-end copy">Copyright &copy; 2022 The Fit Chase. All rights reserved.</div>
            </div>
        </div>
    </footer>
    <!--footer End-->
     
    </main>
  </body>

  <!--JS File -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
</html>
